* {
  box-sizing: border-box;
  font-family: "Manjari", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  background-color: antiquewhite;
  box-sizing: border-box;
}

li {
  display: flex;
  max-width: 90%;
  justify-content: space-between;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.flex {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
}

.todo__container {
  background-color: pink;
  text-align: center;
  margin: 100px auto 0;
  width: 100%;
  max-width: 30rem;
  padding: 0px 0px 32px 0px;
  border-radius: 14px;
  box-shadow: 2px 2px 4px black;
}

.todo__title {
  text-align: center;
  margin: 40px auto 32px auto;
  display: inline-block;
  font-size: 24px;
  color: purple;
}

.todo-form {
  justify-content: center;
  display: flex;
}

.empty {
  position: relative;
  animation: shake 0.1s linear;
  animation-iteration-count: 3;
}

@keyframes shake {
  0% {
    left: -5px;
  }
  100% {
    right: -5px;
  }
}

.todo__tarefas__sample {
  max-width: 90%;
  background: purple;
  margin: 0 auto;
  height: 60px;
  border-radius: 24px;
  align-items: center;
  padding: 20px;
  margin: 16px auto;
}

.todo__tarefas__sample-content {
  background: #8f88b325;
  max-width: 50%;
  height: 20px;
  border-radius: 14px;
}

.todo__tarefas__sample:last-child {
  opacity: 0.6;
}

.todo-form__input {
  width: 75%;
  padding: 24px;
  height: 60px;
  background-color: #e6eec6;
  border-radius: 24px;
  border: 0px;
  outline: none;
  margin-right: 3%;
}

.todo-form__input:focus {
  outline: none;
  border: solid 3px purple;
}

.todo-form__btn {
  background-color: purple;
  text-transform: uppercase;
  color: white;
  width: 55px;
  height: 55px;
  display: inline-block;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  border: 0px;
}

.todo-form__btn:hover {
  box-shadow: 2px 2px 4px black;
  width: 56px;
  height: 56px;
  transition: 0.3s;
}

.todo__btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo__tudo-feito {
  border: 1px solid purple;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: transparent;
  padding: 16px 20px 16px 20px;
  margin: 16px 20px 0px 20px;
  color: purple;
}

.checked {
  text-decoration: line-through;
  opacity: 75%;
}

.todo__tudo-feito:hover {
  background-color: purple;
  color: antiquewhite;
  box-shadow: 0px 16px 24px purple;
  transition: 0.3s;
}

.todo__remover-todos {
  border: 1px solid purple;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: purple;
  padding: 16px 20px 16px 20px;
  margin: 16px 20px 0px 20px;
  color: antiquewhite;
}

.todo__remover-todos:hover {
  background-color: transparent;
  box-shadow: 0px 16px 24px purple;
  transition: 0.3s;
  color: purple;
}

@media only screen and (max-width: 460px) {
  .todo-form {
    flex-direction: column;
  }
  .todo-form__input {
    width: 90%;
    align-self: center;
    margin: 0 auto;
  }
  .todo-form__btn {
    background-color: purple;
    text-transform: uppercase;
    color: white;
    width: 90%;
    height: 55px;
    border-radius: 24px;
    align-self: center;
    margin-top: 8px;
  }
  .todo-form__btn:hover {
    box-shadow: 0px 16px 24px purple;
    width: 56px;
    height: 56px;
    transition: 0.3s;
  }
  .todo__btn-container {
    flex-direction: column;
  }
  .todo__tudo-feito {
    width: 90%;
  }
  .todo__tudo-feito:hover {
    background-color: purple;
    color: antiquewhite;
    box-shadow: 0px 16px 24px purple;
    transition: 0.3s;
  }
  .todo__remover-todos {
    background-color: transparent;
    width: 90%;
    margin-top: 8px;
  }
  .todo__tarefas {
    margin: 32px auto 24px auto;
  }
}

/* alterando css dos elementos adicionados pelo JS */
#todoTarefas {
    background-color: antiquewhite;
    margin: auto;
    width: 26rem;
    border-radius: 8px;
    opacity: 80%;
}

#todoTarefas:hover {
    opacity: 1;
    transition: .5;
}

.container-icons {
  width: 4rem;
  display: flex;
  justify-content: space-between;
}

.check {
  width: 1.5rem;
}

.remove {
  width: 1.5rem;
}
